
body {
  background-image:
  height: 1000px;
}

#contents{
  border-style: double;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  margin-top: -10px;
  margin-left: 50px;
  margin-right: 50px;
  background-image: url(https://www.esa.int/var/esa/storage/images/19716864-11-eng-GB/ESA_root_pillars.jpg);
  text-shadow: 2px 2px 8px silver;
  color: white;
  font-family: sans-serif;
  border-width: thick;
}

h1{
  text-align: center;
  overflow: hidden;
  font-family: sans-serif;
  padding: 20px;
  color: black;
  text-overflow: clip;
  margin-bottom: 10px;
}

h2{
  margin-bottom: 10px;
}

p{
  font-size: 15px;
}
