
body {
  background-image: linear-gradient(160deg, rgba(219, 101, 65, 1) 0%, rgba(255, 195, 62, 1) 100%);
  height: 1000px;
}

#contents{
  font-family: serif;
  border-radius: 10px;
  background-image: image(img/tiger.jpeg);
  background: beige;
  padding: 20px;
  margin: 20px;
}

#my-portrait {
    width: 180px;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 500px;
    float:  left;
}

h2{
  margin-top: -0.5px;
  color: brown;
}

#lists {
  text-align: justify;
  display: inline-block;
  text-indent: 10px;
  margin-left: 20px;
}

a {
  color: black;
  display: inline-block;
  list-style-position: outside;
  text-align: center;
  text-decoration: none;
}

a:link {
  color: black;
}

a:hover {
  color: orange;
}

a:active {
  color: blue;
}

#tiger {
  width: 300px;
  float: right;
}
