#output{
  color: black;
}

#content{
  color: white;
  margin: 20px
  font-style: normal;
  font-size: 25px;
  font-family: sans-serif;
  font-variant: small-caps;
  text-shadow: 1px -1px 0 #ff6699;
  padding: 20px;
  background-color: pink;
  font-weight: bolder;
}

img{
  width: 500px;
}

p.car{
  float: right;
  margin-right: 300px;
  margin-left: 20px;
  width: 1000px;
}

body{
  background-color: ;
